<div class="login-page">
  <div class="form">
    <h3 class="h3">Check your password</h3>
    <div>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        (input)="checkPasswordStrength()"
        placeholder="enter password"
      />
    </div>

    <div class="strength-indicator">
      <div [ngStyle]="{ 'background-color': color1 }" class="color-bar"></div>
      <div [ngStyle]="{ 'background-color': color2 }" class="color-bar"></div>
      <div [ngStyle]="{ 'background-color': color3 }" class="color-bar"></div>
    </div>
   </div>
</div>
