body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: #6c87da;
}

.strength-indicator {
  display: flex;
  margin-top: 10px;
}

.color-bar {
  width: 33.3%;
  height: 3px;
  margin-right: 5px;
}
